services:
  app:
    build: .
    expose:
      - "8080"
    environment:
      - DB_HOST=192.168.10.45
      - DB_PORT=3306
      - DB_USER=user
      - DB_PASSWORD=password
      - DB_NAME=the_gamers_trial
      - LOG_LEVEL=info
      - PEPPER=votre_secret_pepper
    restart: always

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certs:/etc/nginx/certs:ro
    depends_on:
      - app